<!DOCTYPE html>
<html>
<head>
    <title>PlaceRemeber</title>
</head>
<body>
    <header>
        <h1>Head</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">LogIn</a></li>
            <li><a href="#">{{user}}</a></li>
            
            <li><a href="/login/vk-oauth2">Vkk</a></li>
        </ul>
    </nav>
    
    <main>
        <p>main</p>
    </main>
    
    <footer>
        <p>Place Remember. 2024</p>
    </footer>
</body>
</html>
